/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --color-primary: #000000;
  --color-secondary: #8a8a8a;
  --color-divider: #c9c9c9;
  --color-background: #efefef;
  --color-white: #ffffff;
}
