// .c-loader {
//     display: none;
//     text-align: center;
//     height: 54px;
//     margin-bottom: 20px;
//     flex-direction: column;
//     gap: 5px;

//     &--active {
//       display: flex;
//     }

//     &__progress-bar {
//       width: 300px;
//       height: 21px;
//       background-color: #111;
//       border-radius: 13px;
//       margin: 0 auto;
//     }

//     &__progress {
//       width: 200px;
//       height: 15px;
//       background-color: var(--color-secondary);
//       border-radius: 13px;
//     }
//   }

.c-loader {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 39px;
  margin-top: 15px;

  & &__box {
    display: flex;
  }

  &--active {
    display: flex;
  }

  & &__circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #333;
    margin: 0 0.5rem;
    animation: pulse 1s ease-in-out infinite alternate;

    &:nth-of-type(2) {
      animation-delay: 0.3s;
    }

    &:nth-of-type(3) {
      animation-delay: 0.6s;
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
